*.exe
*.ilk
*.pdb
*.ncb 
*.suo
*.user
*.pch
*.log
*.lib
*.obj
*.ncb
*.exp
*.pyc
*.pyd
*.mat
*.cxx
*.o
*.a
*.vshost*
*.dll
*.mex*
*.asv
*~
*#*#
*.so
*.so.*
obj/*
Debug/
Release/
examples/cs/*/obj/*
examples/cpp/CppModule
lang/python/PyDragonfly.py
lang/python/PyDragonfly_wrap.cxx
lang/python/Dragonfly_Definitions.py
lang/python/dragonfly_wrap.cxx
